/* Breakpoints */
$desktop: 1023px;
$tablet: 767px;
$smarthphone: 480px;
$smallsmarthphone: 320px;

@media screen and (max-width: $desktop){
    body{
        border: 10px solid red; 
    }
}


@media screen and (max-width: $tablet){
    body{
        border: 10px solid green; 
    }
}


@media screen and (max-width: $smarthphone){
    body{
        border: 10px solid blue; 
    }
}

@media screen and (max-width: $smallsmarthphone){
    body{
        border: 10px solid violet; 
    }
}
