.container-main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3vw 40vw 3vw;
    
}

header, footer{
    grid-column: 1 / span 8;
    background-color: red;
}

main{
    grid-column: 2 / span 5;
    background-color: gray;
}


@import 'mqhome.scss';
