/* Breakpoints */
$desktop: 1023px;
$tablet: 767px;
$smarthphone: 480px;
$smallsmarthphone: 320px;

@media screen and (max-width: $desktop){
    .container-main{ 
    }
}


@media screen and (max-width: $tablet){
    .container-main{
        display: block; 
    }
}


@media screen and (max-width: $smarthphone){
    .container-main{
        display: block; 
    }
    .home__section-articles{
        margin-left: 8%;
        margin-right: 8%;
        padding-top: 10%;
        display: block;
        padding-bottom: 2%;
        overflow: hidden; 
    }
}

@media screen and (max-width: $smallsmarthphone){
    .container-main{
        display: block; 
    }
}
