body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}
.container-main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3vw 51vw 3vw;
    
}

header{
    text-align: center;
}

header, footer{
    grid-column: 1 / span 8;
    background-color: #a20b0b;
}

main{
    grid-column: 2 / span 5;
    background-color: gray;
}


@import 'theme_query.scss';
