footer{
    display: inline-flex;
    padding-top: 2%;
    padding-bottom: 3%;
}
.img-sn-responsive{
    width: 100%;
}
.footer-content ul{
   display: block;
   width: 80%;
   margin: 0 auto;
   float: right;  
}
.footer-content ul li{
    width: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}
.footer-left{
    width: 20%;
    float: left;
}
.footer-content{
    width: 60%;
    float: left;
}
.footer-right{
    width: 20%;
    float: left;
}

@import 'mq_footer.scss';
